html {
    background: white;
    min-height: 100%;
    font-family: sans-serif;
    width: 400px;
}

body {
    margin: 0;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
}

form {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    text-transform: uppercase;
    color: #9c9c9c;
    font-size: 12px;
    margin-bottom: 10px;
}

input {
    padding: 15px;
    background-color: white;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    font-size: 12px;
}

input:focus {
    border-color: #0880fd;
}

input[type=submit] {
    max-width: 50%;
    color: white;
    background-color: #0880fd;
    border: none;
    cursor: pointer;
    margin: auto;
}

input[type=submit]:hover {
    background-color: #28a0fd;
}

.header {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.half-width {
    max-width: 48%;
}