html {
    background: white;
    min-height: 100%;
    font-family: sans-serif;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 400px;
}

body {
    margin: 0;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
}

label {
    text-transform: uppercase;
}

.header {
    text-align: center;
}