html {
    background: white;
    min-height: 100%;
    font-family: sans-serif;
    width: 400px;
}

body {
    margin: 0;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
}

form {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    text-transform: uppercase;
    color: #9c9c9c;
}

.header {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.half-width {
    max-width: 50%;
}